[2016-02-28 16:47] runcom opened #69 "secrets patch broken in 1.10.x with userns"
after disabling selinux and running userns in docker 1.10.x I got this:
[code]
the `secrets` directory is owned by user `nobody` and I cannot touch anything into it (probably I shouldn't but this is another issue)
The problem seems to be the directory isn't properly chown'ed when setting up the container as it's currently happening for other directories and files mounted from the host:
[code]
The

[2016-02-29 13:57] rhatdan commented on #69
Right the problem is not SELinux but the DAC.  Directories/files owned by (real) root.

[2016-02-29 14:01] runcom commented on #69
This issue seems because the daemon doesn't set the correct permissions on the secrets directory - while the bugzilla I filled seems to be related to selinux (I'll give you AVC asap)

[2016-03-30 13:11] runcom commented on #69
fixed in 1.11 rebase

[2016-03-30 13:11] #69 closed

[2016-06-08 16:15] smarterclayton opened #167 "Panic when curling _ping over TCP socket (not unix)"
**Output of `docker version`:**

[code]

**Steps to reproduce the issue:**
1. Try to connect over TCP (with `docker daemon -H 0.0.0.0:2376`)
2. See panic in the client

[code]

[2016-06-08 16:15] smarterclayton commented on #167
@runcom saw this today on f23 when trying to connect from my Mac - I can reproduce with curl locally against _ping

[2016-06-08 16:17] runcom commented on #167
taking care of this, thx @smarterclayton

[2016-06-08 16:52] runcom commented on #167
fixed in both fedora and rhel 1.10.3 branches

[2016-06-08 16:52] #167 closed

[2016-06-21 10:19] amatsus commented on #167
Could you fix the docker-1.11 and docker-1.12 branches?

[2016-06-21 10:40] runcom commented on #167
@amatsus done

[2016-06-21 11:01] amatsus commented on #167
@runcom I'm grateful for your prompt handling

[2016-07-07 17:55] smarterclayton opened #175 "Got 'could not synchronize with container process' error on 1.10.3-33"
Fast terminating process returned unexpected error from docker run.  This is an intermittent failure.

[code]

[code]

[code]

@mrunalp

[2016-07-07 21:04] rhatdan commented on #175
@rhvgoyal I think this is devmapper related?

[2016-07-07 21:10] runcom commented on #175
Weird, "System error" is usually related to libcontainer

[2016-07-08 00:27] mrunalp commented on #175
Yeah there was one known issue with Json marshaling but we have a patch for that already. Will need to add some additional debugs for this one.

Sent from my iPhone

[2016-07-13 20:45] parthaa opened #176 "RFE: Add registry should support sub-directories"
It would be useful for projects like katello (https://github.com/Katello/katello) if the "--add-registry" commands supported sub directories as entry points.

On rhel for example
[code]
only accepts root names. If I say something like ```docker pull rhel``` I see that it tries to fetch it from ```registry.access.redhat.com/rhel``` before trying other registries. What would be ideal for a multi ten

[2016-07-13 21:50] runcom commented on #176
Can't you achieve that with virtual hosts and have org.env.yourdomain.com? (since you have multiple instances of docker registry for each env/org)

I understand the issue, I'm not getting why that can't be done in upper layers (virtual hosts)  and leave docker unchanged.

There's more though, the slash isn't valid to be in there in your example because that's going confuse docker itself and treat

[2016-07-13 23:30] parthaa commented on #176
@runcom Good point. I can look into a scheme that says *.registry.yourdomain.com will somehow translate to yourdomain.com/<org>/env/<staged-content> but wouldn't that mean that the customer and katello would have to somehow maintain a dns entry for each registry in an automated fashion.

[2016-07-13 23:42] runcom commented on #176
The issue right now is that `docker pull yourdomain.com/<org>/env/<staged-content>/rhel` won't even work with docker.
The definition is
[code]
You can see paths aren't contemplated at all.
The only exception to that is `docker.io` which has historically translated that into the source code to something like `registry-1.docker.io` for their V1 version but that's just for them and supporting this ki

[2016-07-14 00:00] parthaa commented on #176
:( . I saw https://github.com/docker/distribution/blob/master/docs/spec/api.md#overview where it seems to say (at least for v2) that ```If a repository name has two or more path components, they must be separated by a forward slash ("/")``` which led me along that path.

Katello does ```yourdomain.com/<org>_<env>_<staged-content>_rhel``` changing the name of the repo which confused many. Even if w

[2016-07-14 00:06] runcom commented on #176
Right but unfortunately that's not going to work.

The only thing you can do is to use virtual hosts and dns.

[2016-07-14 11:03] rhatdan commented on #176
Can we close this issue?

[2016-07-14 11:26] runcom commented on #176
we can, I see no point in making our registry patch worst (and differ from upstream again) by supporting something like this when this can be achieved in upper layers in the stack (vhosts+dns).

[2016-07-14 11:26] #176 closed

[2016-07-18 07:30] ncoghlan opened #177 "Docker patch list is incredibly hard to find via Google"
The patch list at "https://github.com/projectatomic/docker/blob/rhel7-1.10.3/README.md" appears to be entirely invisible to Google.

- "How does red hat docker differ from upstream" doesn't show it
- "Red hat docker github" doesn't show it (it doesn't even show this repo)
- "project atomic docker github" doesn't show it (it doesn't even show this repo)
- "project atomic docker patch list" doesn't

[2016-07-18 07:33] runcom commented on #177
/cc @rhatdan

[2016-07-18 09:55] rhatdan commented on #177
Should we just make the master branch of projectatomic/docker have the patches?

[2016-07-18 09:57] rhatdan commented on #177
@jberkus Josh could we add a link to projectatomic.org for this?

[2016-07-18 12:33] ncoghlan commented on #177
Including the README on the master branch would at least make it appear when folks browse to "projectatomic/docker" on GitHub, but I think the way GitHub have their canonical URLs set up (or else the way the Googlebot specifically processes GitHub forks) mean that forks still tend not to show up in Google results (see the 3rd query I tried above).

[2016-07-18 15:44] jberkus commented on #177
@rhatdan funny, I was just about to ask you to do a blog post on this.  I think a blog post, plus a projectatomic.io page, would be a good start.

In the medium term, we should have a full set of "docs" for the Red Hat changes.

[2016-07-19 10:44] rhatdan commented on #177
Yes I will write a blog on this when I get back from PTO.  Next week.

[2016-08-22 22:13] parthaa opened #186 "Need a way to specify custom directories for rhsm configuration"
Patch https://github.com/docker/docker/pull/6075 add support to docker to specify "secret" files to be injected in a container. As of today's Atomic Hosts when one does ```docker run -it registry.access.redhat.com/rhel7``` the secrets files are copied over and injected into the container from ```/usr/share/rhel/secrets```. This enables subscription manager to run inside containers as desired.

On

[2016-08-23 10:23] rhatdan commented on #186
I would think having it point to /etc/rhsm-containers would be better then latest.
Have you tried this out and does it work?

[2016-08-23 11:01] cgwalters commented on #186
How about enhancing the secrets patch to look in both `/usr/share/rhel/secrets` and `/etc/docker/rhel/secrets`; the latter overrides the former?

Then all you'd need to do is `ln -sr /etc/rhsm-container /etc/docker/rhel/secrets`, right?

[2016-08-23 11:03] rhatdan commented on #186
I am fine with this although I would prefer something generic like /etc/container/rhel/secrets.

[2016-08-23 11:10] runcom commented on #186
+1

[2016-08-23 14:07] parthaa commented on #186
@rhatdan @cgwalters both suggestions are good and will work for me.

[2016-08-23 22:57] rhatdan commented on #186
@runcom can you modify the secrets patch to handle this?

[2016-08-23 23:32] runcom commented on #186
@rhatdan sure I can

[2016-08-25 03:43] ncoghlan commented on #177
Following Dan's post at http://www.projectatomic.io/blog/2016/08/docker-patches/, I'm happy to report "red hat docker patches" now returns http://www.projectatomic.io/docs/docker_patches/ as the second link :)

"red hat docker differences" and "red hat docker changes" results will presumably take longer to improve, but I think this can be considered resolved now.

[2016-08-25 03:43] #177 closed

[2016-09-19 04:34] wied03 opened #197 "Docker cli doesn't honor DOCKER_CERT_PATH"
The main Docker issue (https://github.com/docker/docker/issues/25986) is asserting this is a problem with the CentOS build.

[2016-09-19 05:43] runcom commented on #197
I'll try to reproduce

[2016-09-23 14:33] runcom commented on #197
@wied03 pretty sure it's a misconfiguration on your side ;) OR it has been fixed in the last releases

(note I'm using Fedora here but the source of Docker still comes from this repository and I rebuilt the RHEL branch which is used for centos)
[code]

[2016-09-23 14:33] #197 closed

[2016-09-23 14:47] wied03 commented on #197
Maybe, but it's super easy to reproduce with the latest CentOS Atomic. What docker RPM version are you using?

[code]

[2016-09-23 14:48] runcom commented on #197
let me spin up a RHEL atomic, I'll get back asap

[2016-09-23 15:18] runcom commented on #197
@wied03 figured - can you please edit `/etc/sysconfig/docker` and remove the lines with:
[code]
everythink should work then but be aware we did that for some reasons - more background and links at https://bugzilla.redhat.com/show_bug.cgi?id=1169593

[2016-09-23 15:22] wied03 commented on #197
Should have thought to look there!

[2016-09-23 15:23] runcom commented on #197
:smile:

[2016-09-23 15:25] wied03 commented on #197
What's odd to me is that the docker client is adhering to those sysconfig settings. I would have expected only the daemon to do that.

[2016-09-23 15:33] runcom commented on #197
in docker 1.10 both the daemon and the client are called `docker` and when executed it'll read stuff from the `/etc/sysconfig/docker` file. It works like this for every binary - it's just a case daemon and client are called the same and so `/etc/sysconfig/docker` is applied to both.

[2016-09-23 15:37] wied03 commented on #197
Ohh yeah I forgot about that as well. Well maybe the recommendation for now until the newer split client/daemon is that if you need to have a different cert directory for client and server, remove that setting from sysconfig and supply the daemon side env variable via systemd and the client side via whatever means.

[2016-10-19 17:38] smarterclayton opened #207 "Race condition in Docker 1.12.1-2.el7.centos between create-container and upload-to-container when using a volume"
Seeing a race condition when I perform the following steps:
1. create-volume (local)
2. create-container with a bind mount of the volume into `/tmp/__temporary`
3. upload-to-container of an archive into `/tmp/__temporary/1` (which should go into the volume)

If I add a 10 second sleep between 2 and 3, it works.  Without the sleep it fails consistently on 1.12.1-2.el7.centos.  It works every time o

[2016-10-19 17:38] smarterclayton commented on #207
@mrunalp as discussed online

[2016-10-19 17:44] smarterclayton commented on #207
I tried another directory besides `/tmp` on the off chance it had something to do with that but no difference (neither /var nor arbitrary folder changed the problem)>

[2016-10-19 18:17] runcom commented on #207
I'll try to reproduce and report upstream if necessary, thanks

[2016-10-19 23:20] runcom commented on #207
That unit test just says "failed with exit code 1" - daemon logs shows:
[code]

[2016-10-19 23:24] smarterclayton commented on #207
You have to pull busybox first.  I pushed changes that fix that, but my
previous line number has changed (it's between the container create and the
copy)

On Wed, Oct 19, 2016 at 7:20 PM, Antonio Murdaca <notifications@github.com>
wrote:

[2016-10-19 23:25] runcom commented on #207
I already have busybox :confused:

[2016-10-20 00:12] runcom commented on #207
@smarterclayton I had no luck trying to repro this with just docker - https://gist.github.com/runcom/14c700d2d1b29e34a795685cb644d275 am I missing something?

[2016-10-20 10:13] runcom commented on #207
@smarterclayton I also have busybox but I'm still getting the error in https://github.com/projectatomic/docker/issues/207#issuecomment-254968637

[2016-10-25 15:27] runcom commented on #207
@mrunalp @smarterclayton with https://gist.github.com/runcom/14c700d2d1b29e34a795685cb644d275 I cannot reproduce on centos either. The tar is:
[code]
the only stuff I get in the logs is:
[code]
Notice the last line above, maybe I'm still missing something...

[2016-10-25 18:47] smarterclayton commented on #207
Shouldn't you be catting ./test/ciaone?

On Tue, Oct 25, 2016 at 11:27 AM, Antonio Murdaca <notifications@github.com>
wrote:

[2016-10-25 21:09] runcom commented on #207
I'm cat(ing) that which should be at /test/ciaone (notice there's no dot before the first slash)

[2016-10-25 22:49] runcom commented on #207
@smarterclayton I can finally run the program at https://gist.github.com/runcom/14c700d2d1b29e34a795685cb644d275 but no luck yet on racing... (testing on a centos box)

[2016-10-25 23:14] smarterclayton commented on #207
Created a reproducer on my machine:

[code]

when run with the following in the same dir

[testfiles.zip](https://github.com/projectatomic/docker/files/551984/testfiles.zip)

I get

[code]

everytime, when in 1.10 both mountfile was a file

[2016-10-25 23:16] smarterclayton commented on #207
1.10:

[code]

[2016-10-25 23:17] smarterclayton commented on #207
Not even sure this is a race - just broken

[2016-10-26 13:44] runcom commented on #207
Alright, debug so far

* it works on docker-1.12.1 in Fedora
* it fails on centos only (tested on centos with docker-latest)

[2016-11-04 01:54] smarterclayton commented on #207
kernel problem?  implies a problem on RHEL too?

[2016-11-04 07:50] runcom commented on #207
More debugging https://github.com/docker/docker/issues/27773

[2016-11-09 19:30] runcom commented on #207
Fixed in docker master upstream. Going to backport to 1.12.3 tomorrow.

[2016-11-09 23:27] runcom commented on #207
fixed by https://github.com/projectatomic/docker/commit/47e22f22361b3e4a73479b20d1f35f237ed8faba

[2016-11-09 23:27] #207 closed

[2016-11-30 17:18] wallrj opened #214 "Error when pulling images from Quay.io"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[code]

[code]

**Steps to reproduce the issue:**
1. `docker pull quay.io/pypa/manylinux1_x86_64`

[code]

2. The ubuntu:1604 image from DockerHub works fine

[code]

**Describe the results you received:**

**Describe the results you expected:**

**A

[2016-11-30 17:21] runcom commented on #214
@wallrj `quay.io` is serving docker registry V1 API. This docker has a feature enabled by default: signatures verification. Signatures verification does not work against V1 registries. There is a knob you can add to your `/etc/sysconfig/docker` in order to disable this feature and pull again from `quay.io`. The option to set is `--signature-verification=false`.

[2016-11-30 17:21] #214 closed

[2016-11-30 17:27] wallrj commented on #214
@runcom Thanks for the fast reply. `--signature-verification=false` worked.

It's a shame Docker doesn't give a more meaningful error message ☹️

[2016-11-30 17:29] runcom commented on #214
good point, let me take a look at the code to see if I can show a proper error message.

[2016-12-01 21:42] josephschorr commented on #214
@runcom: Actually, we serve both V2 and V1, converting between them automatically if pushed by one version and pulled by another. I'm not sure why your Docker binary is using the V1 protocol, as the majority of our requests served are done via V2 at this point. Are there any custom protocol checks outside of the vanilla Docker version?

[2016-12-01 21:45] runcom commented on #214
@josephschorr we saw that `docker pull quay.io/pypa/manylinux1_x86_64` isn't found on the V2 registry, and you can download it with docker because if an image isn't found in V2 - it falls back to V1 and you can pull it successfully from V1. The difference here is that our docker uses a custom library to do image signature verification and it does only support V2 at this point (erroring out with th

[2016-12-01 21:46] runcom commented on #214
I'll investigate further though.

[2016-12-01 21:48] josephschorr commented on #214
@runcom: Except we don't fallback. If you pull via V2, you get V2. We convert to V2 in real-time if the image was only pushed via V1. Looking at the logs, I just pulled the image via V2 on my local machine.

[2016-12-01 21:51] runcom commented on #214
@josephschorr right, still looking, we may probably have a bug somewhere

[2016-12-01 22:00] runcom commented on #214
@josephschorr thanks a lot for chiming in - found the root cause https://github.com/containers/image/pull/176 (tested our docker and it's indeed now pulling from V2 as you said) - thanks again.

[2016-12-01 22:13] rhatdan commented on #214
Excellent.  Thanks @josephschorr

[2016-12-01 22:14] josephschorr commented on #214
Glad we were able to find the cause!

[2016-12-08 18:32] stevekuznetsov commented on #207
@runcom can you let me know either
 - which RPM release I can expect to see this in
 - how to determine the above information myself for any given commit in this repo

[2016-12-08 18:44] rhatdan commented on #207
docker-1.12.4.* release most likely or if we don't update docker-1.10 in the next release docker-latest-1.12.4.*

[2016-12-08 18:49] stevekuznetsov commented on #207
@runcom had mentioned 1.12.3 as well due to a backport -- do you know which patch that would be?

[2016-12-08 18:49] runcom commented on #207
Docker 1.12.3 in Fedora and Docker-latest 1.12.3 in rhel should have this. As @rhatdan said, we're in the process of shipping 1.12.4 when it goes out upstream.

[2016-12-08 18:50] stevekuznetsov commented on #207
@runcom to be clear, `docker-1.12.3-8` is what I have available -- are you saying `1.12.3-0` and newer all have it? Or is it a specific patch on top of `1.12.3`?

[2016-12-08 19:16] runcom commented on #207
It's a specific patch on top of docker-1.12.3 - I believe rhel has it but now that I think more I'm not sure anymore. If you have any specific rhel version you want me to check to this included please tell me it here and I'll check ASAP.

[2016-12-08 19:29] stevekuznetsov commented on #207
Today I have access to `docker-1.12.3-8` on Troy's repo on the OpenShift mirror. Will that have the fix?

[2016-12-08 19:35] stevekuznetsov commented on #207
Specifically, `docker-1.12.3-8.el7.x86_64.rpm`

[2016-12-08 20:06] runcom commented on #207
@stevekuznetsov I don't know about Troy's repo - does that `-8` build number maps to any commit into the rhel dist-git? or could you tell me which commit (with `docker version` probably) does that docker have?

[2016-12-08 20:06] runcom commented on #207
@stevekuznetsov you can find if the commit is in https://github.com/projectatomic/docker/commits/docker-1.12.3 - specifically https://github.com/projectatomic/docker/commit/47e22f22361b3e4a73479b20d1f35f237ed8faba is the commit which fixes this issue.

[2016-12-08 20:42] stevekuznetsov commented on #207
Ok, looking at Brew it is in the release we have.

[2017-01-03 15:18] dmytroleonenko opened #219 "ec2 image cloud-init docker startup issue"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

- AWS VPC
- us-east-1 region
- official ami-cfeca0d8 AMI

**Steps to reproduce the issue:**
1. start an instance with the following/similar user-data:

[code]

**Describe the results you received:**
docker daemon is not running when the instance star

[2017-01-11 03:01] dustymabe commented on #219
hey @dmytroleonenko - are you still having trouble? if you just boot the instance without your user-data is docker up and running fine?

@jasonbrooks  the image he is using is a centos atomic host:
[code]

[2017-01-11 03:01] dustymabe commented on #175
@smarterclayton - can we close this?

[2017-01-11 03:02] dustymabe commented on #186
@runcom, can this be closed?

[2017-04-28 13:05] rhvgoyal opened #239 "Backport a fix from upstream to make volumes rprivate by default"
We need to backport following fix from upstream to make volumes "rprivate" by default.

https://github.com/moby/moby/pull/32851

[2017-04-28 13:05] rhvgoyal commented on #239
cc @runcom

[2017-04-29 11:06] runcom commented on #239
@rhvgoyal which branches are going to need this? was https://github.com/projectatomic/docker/pull/238 meant to address this and this issue is just a placeholder for 1.13.1 and 17.03.1-ce branches? (I didn't fully understood). Meanwhile, I've opened two PRs to port https://github.com/projectatomic/docker/pull/238 to 1.13.1 and 17.03.1-ce, but again, I'm unsure if we still need moby#32851 in every b

[2017-05-01 12:27] rhvgoyal commented on #239
@runcom

#238 and this PR are two independent fixes. Though problem description remains the same.

This PR is basically fixing a regression introduced by commit

https://github.com/moby/moby/commit/fc7b904dced4d18d49c8a6c47ae3f415d16d0c43

I had noticed that above commit did not make into 1.12.6. So we will need this fix for 1.13.1 and
any branches after that.

[2017-05-03 08:43] runcom commented on #239
Backported https://github.com/moby/moby/pull/32851/commits/af8a1430f1c1a9d4c45c7d722b90c19094171651 to docker-1.13.1, docker-1.13.1-rhel, docker-17.03.1-ce

[2017-05-03 08:43] #239 closed

[2017-06-12 19:08] fortinj66 opened #252 "Is it possible to pull https://github.com/moby/moby/pull/33472 to fix a memory leak in the current 1.12.6 (and probably all) version of docker"
This issue is identified  in:
https://github.com/moby/moby/issues/32711
and solved (hopefully) in:
https://github.com/moby/moby/pull/33472

All 1.12.5 and 1.12.6 versions (RedHat/Centos and vanilla) seem to be affected.  This issues causes large dockerd memory in Openghift origin requiring at least weekly restarts of Docker...

Regards,
--John

[2017-06-12 22:25] runcom commented on #252
I'll backport it yeah

[2017-06-12 22:56] fortinj66 commented on #252
Awesome!!

Sent from my iPhone

[2017-06-12 23:35] runcom commented on #252
backported.

[2017-06-12 23:35] #252 closed

[2017-06-12 23:41] fortinj66 commented on #252
Thanks!

When would this likely show up in the Centos repos for download/install?

Unfortunately, I have been unable to get a working RPM built from the projectatomic sources...

--John

[2017-06-12 23:43] runcom commented on #252
/cc @lsm5 for docker on centos (I guess, sorry for the ping otherwise :()

[2017-06-13 14:30] fortinj66 opened #253 "Build issues with Centos 7"
I'm trying to build docker from source on Centos 7.  The build container builds fine (after having to add pip to the build) but when I attempt to build the binaries I get the following for the dockerd executable

[code]

[2017-06-13 14:34] runcom commented on #253
right, `runtime.KeepAlive` is go1.8+ specific, damn, will fix it

[2017-06-13 14:37] fortinj66 commented on #253
Thanks!

[2017-06-13 14:37] runcom commented on #253
caused by https://github.com/projectatomic/docker/commit/97ba2c0a386dcb638e6937d632a22e958e9e8b57

[2017-06-13 14:40] runcom commented on #253
edit, that function is available from go 1.7.x - not sure why CentOS is still on 1.6.x /cc @lsm5

[2017-06-13 14:43] runcom commented on #253
@fortinj66 actually, you need newer go to build docker. Newer go is available from this repo:
[code]
enable that repo, update golang and try to rebuild.

[2017-06-13 14:46] lsm5 commented on #253
@fortinj66 minor correction, basically it's the yum repo in the URL that @runcom pointed to. That should fetch you golang 1.7.4 http://cbs.centos.org/koji/buildinfo?buildID=15095

[2017-06-13 14:47] runcom commented on #253
my english sucks I guess... :smile:

[2017-06-13 14:53] fortinj66 commented on #253
Hmmmm, but its the Dockerfile created by distros/Centos.json that creates the docker image that does the build...  I would think that would need to be modified to make this work...

I also checked my RHEL 7 instances.  They provide the same version of go as Centos 7

[2017-06-13 14:55] runcom commented on #253
@fortinj66 yeah, we probably need to bump that in Dockerfiles

[2017-06-13 14:56] fortinj66 commented on #253
Let me give it a try and add that repo to Centos.json

[2017-06-13 14:57] runcom commented on #253
[code]
@fortinj66 nope, just apply the patch above :)

[2017-06-13 14:57] runcom commented on #253
lemme know if that works out fine.

[2017-06-13 15:26] fortinj66 commented on #253
It looks like the go 1.7 version is in the  centosplus repo
[code]
I'll modify the Centos.json and see if the build container gets it right...

[2017-06-13 15:33] fortinj66 commented on #253
@runcom  I'm not sure how that will help if the Dockerfile can't find the proper version of golang...

...  or does the image build process install go also.  That would explain why there is a version of go installed into /usr/local/go/bin/go.  That would remove the dependency on the OS provided versions...

[2017-06-13 15:37] runcom commented on #253
right, the situation is this:

RHEL/Fedora/Centos builds docker **NOT** using the Dockerfile with `make` - we build it directly from host deps.

The moment you use plain `make` you'll build docker in a container and that means the dockerfile diff I posted should work

[2017-06-13 15:53] fortinj66 commented on #253
OK, so I applied the patch but it breaks cross-compilation...  Should be even be doing cross-compilation?

[code]

[2017-06-13 15:54] runcom commented on #253
well, we do not really care about cross-compilation, maybe just do `make binary` (I'll fix cross-compilation though)

[2017-06-13 16:17] fortinj66 commented on #253
I commented out the offending pieces dealing with the diff for darwin patches and the list of cross-compile targets...   I'll let you know how it goes...

[2017-06-13 16:30] fortinj66 commented on #253
i had to change the binary target in the Makefile to dynbinary as it looks like there are static libraries missing for the statically linked binaries:

[code]

[2017-06-13 18:13] fortinj66 commented on #253
So the build was successful with dynbinary...  I then proceeded to run make test

What is the expectation for make test?  Should all the tests pass, excluding the skipped ones?  or are there tests that are known to fail?  The unit tests have 4-5 tests that fail and there are probably 10-15 integration-api tests that seem to be failing...

[2017-06-13 20:18] runcom commented on #253
They should all pass :) integration are more important though. Let's leave this open to tackle failures then.

[2017-06-13 21:49] fortinj66 commented on #253
Static build fails as there do not seem be be any static versions of these libraries:
libgpgme.so
libassuan.so
libgpg-error.so

all the tests run with dynamic versions so that should be fine...

[2017-06-13 21:56] fortinj66 commented on #253
Here is the current diff to make the build work.  epel-release is needed to install python-pip:

diff --git a/Dockerfile b/Dockerfile
index 2504aea..27c6e7b 100644
--- a/Dockerfile
+++ b/Dockerfile
@@ -89,6 +89,7 @@ RUN apt-get update && apt-get install -y \
        zip \
        gpgme-devel \
        libassuan-devel \
+        libtool-ltdl-devel \
        && pip install awscli==1.10.15
 # Get lvm

[2017-06-13 21:58] fortinj66 commented on #253
here is the diff needed to build...  epel-release is needed for python-pip install

[code]

[2017-06-13 22:05] fortinj66 commented on #253
Here are the results of the unit test.  I'll run the integration-api test overnight

[test.txt](https://github.com/projectatomic/docker/files/1073029/test.txt)

[2017-06-14 12:43] fortinj66 commented on #253
Here are the integration test results...

[test-integration-api.txt](https://github.com/projectatomic/docker/files/1074579/test-integration-api.txt)

[2017-06-15 12:46] fortinj66 commented on #253
Any thoughts as to how to proceed with this?  I'm also curious who is maintaining the Centos and RHEL RPMs for docker.  I've tried to build from the RPM sources also and they fail in similiar ways...

[2017-06-15 12:53] lsm5 commented on #253
@fortinj66 can you ensure you've done these:

    sudo yum-builddep docker.spec
    spectool -g docker.spec
    rpmbuild -ba docker.spec

[2017-06-15 13:15] fortinj66 commented on #253
have not done the second step.  let me give it a try...

[2017-06-15 13:21] lsm5 commented on #253
Well, the second step only fetches all the source tarballs needed to build the rpm.

Were your tests run at rpmbuild time? That would happen if you are running rpmbuild as root. The non-root rpmbuild shouldn't trigger any tests at build time.

[2017-06-15 14:33] fortinj66 commented on #253
So this was the error I got initially (and now) when I built from RPM source and I got the same error when I build the unpatched source from github...  I had to add the epel-release repo in order to get python-pip installed...
[code]

[2017-06-15 14:50] lsm5 commented on #253
Not sure why you need python-pip, and won't it suffice to build it on the CentOS 7 host itself? I haven't tried building docker in a container.

[2017-06-15 14:53] fortinj66 commented on #253
It does this  --->  && pip install awscli==1.10.15

The RPM build kicks off the container build...

[2017-06-15 14:54] lsm5 commented on #253
hmm, that's weird (to me atleast), are you trying to build moby/moby or projectatomic/docker ?

Also, are you running rpmbuild as a root user?

[2017-06-15 15:00] fortinj66 commented on #253
This is from whatever the RPM source was based off of and build with the commands above...

http://vault.centos.org/centos/7/extras/Source/SPackages/docker-1.12.6-28.git1398f24.el7.centos.src.rpm

(as root)
sudo  yum-builddep docker.spec
spectool -g docker.spec
rpmbuild -ba docker.spec

The projectatomic/docker build has the same issues without adding the epel-repo...

[2017-06-15 15:07] lsm5 commented on #253
cool, so if you're running rpmbuild as root, it will trigger the %check section of the rpm, which runs tests if docker is present prior on your machine.

I'd suggest either 1. running rpmbuild as non-root or 2. removing docker and retrying rpmbuild.

python-pip or anything else from the epel repo shouldn't be needed for simply building the rpm. Running the tests is another story, but I guess you'r

[2017-06-15 15:11] fortinj66 commented on #253
Well, both actually...  I very much want to test the buffer patch to see if that fixes the memory leak that seems to be in the current version(s)...  I'm not sure how long it will take for a new Centos RPM set to be available...

[2017-06-15 15:25] lsm5 commented on #253
well, centos lags behind rhel releases by a few days (perhaps weeks), but there's CentOS Virt SIG that tends to be ahead of RHEL (it's basically fedora rawhide rpms rebuilt). I'll try to build one for Virt SIG from the latest fedora and push the sources to github. Maybe you can clone it and add your patch there perhaps.

[2017-06-15 15:30] fortinj66 commented on #253
After stopping docker the build was successful....  I did see this though and just want to make sure there isn't an issue:

[code]

[2017-06-16 17:40] lsm5 commented on #253
I've pushed the CentOS Virt SIG dist-git changes to https://github.com/CentOS-virt7/docker/tree/master . The latest virt sig rpm is available at http://cbs.centos.org/koji/buildinfo?buildID=17383 . What you posted above was probably some issue with debuginfo, which can probably be ignored for our task at hand.

[2017-06-16 19:12] fortinj66 commented on #253
This looks like it is for docker 1.13?

Part of the issue is that I am restricted to docker 1.12.* due to Openshift requirements…  I cannot upgrade to Docker 1.13…

The patches I have been working on are based on the 1.12.6 branch…

Thanks!
—John

[2017-06-16 19:19] lsm5 commented on #253
On Fri, Jun 16, 2017 at 12:12:54PM -0700, John Fortin wrote:

See the fedora 25 branch of the docker rpm at
http://pkgs.fedoraproject.org/cgit/rpms/docker.git?h=f25 . It's on 1.12.6 and you can probably
rebuild this for your CentOS env. Hope that helps.

--
Lokesh
Freenode, OFTC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2017-06-17 22:39] fortinj66 commented on #253
@lsm5 Thanks, I'll take a look at it...

I'm a little confused though trying to determine which project is being used as the docker source for Centos (and RHEL for that matter) and who is maintaining the RPMs being distributed with them...

I understand that moby is more upstream and has some differences of opinion with the projectatomic team...   And since I work in a Centos and RHEL environment

[2017-06-18 17:06] lsm5 commented on #253
On Sat, Jun 17, 2017 at 03:39:23PM -0700, John Fortin wrote:

As far as official fedora, centos and rhel are concerned, we will always use
@projectatomic/docker as the source for RPMs (for the foreseeable future
atleast).

The RPM maintainers are usually me, @runcom and @fkluknav.

FYI, RE: CentOS, there's 2 places that CentOS gets docker rpms from: Base
CentOS (which is a rebuild of the official

[2017-06-19 14:12] fortinj66 commented on #253
I have built and installed commit 6ffd653c1284b0a019f98702ad1eb0eee178da55 into my environment.  I'll report back the results as I have them...

[2017-06-20 16:31] fortinj66 commented on #253
Closing this issue...  I'll be opening a new issue as it seems the memory leak is still present...

[2017-06-20 16:31] #253 closed

[2017-06-20 16:43] fortinj66 opened #257 "potential memory leak in docker 1.12.6"
Moving this issue from https://github.com/moby/moby/pull/33472 as they are indicating that 1.12.6 is no longer supported and there are significant changes between the vanilla moby and projectatomic

Let me step back and describe the initial issue...

1) I am using Openshift Origin 3.4 on Centos 7 installed via the normal ansible installer
2) Openshift requires Docker 1.12.x.
3) The latest Centos b

[2017-06-20 20:00] rhatdan commented on #257
We should have this fix in docker-1.12.6-32.git88a4867.el7 which is going to be shipped in RHEL7.3.6 in a couple of weeks, and will show up in Centos Soon after.

[2017-06-20 21:32] fortinj66 commented on #257
Would I be able to build now against that commit and test it?

[2017-06-27 12:31] rhvgoyal opened #261 "Backport: Enable deferred removal and deferred deletion by default"
Recently upstream committed a patch to enable deferred removal and deferred deletion by default. May be its a good idea to carry that patch.

https://github.com/moby/moby/pull/33698/commits/0dc1a80565d522fc2cc7c65c3ad2d8ed83aeaf0f

[2017-06-27 12:31] rhvgoyal commented on #261
@runcom Would you be in a position to backport this one?

[2017-06-27 12:34] runcom commented on #261
backported to 1.12.6, 1.13.1 and 1.13.1-rhel

[2017-06-27 12:34] #261 closed

[2017-06-27 12:35] rhvgoyal commented on #261
@runcom wow, that was quick.  thanks.

[2017-07-05 14:37] fortinj66 commented on #257
Looks like the new version is out for Centos...  I have installed it and will see what it looks like over the next couple of weeks...

[2017-07-07 18:18] fortinj66 commented on #257
Well, my initial reaction was that the new release looked good...  Unfortunately, I am now seeing the docker daemon randomly crashing in all environments with nothing logged.  Sometimes docker will start right back up with a systemctl restart docker and sometime it takes several iterations for it to restart.

This is happening in both openstack and non-openstack environments...

Here is an example

[2017-07-07 18:28] fortinj66 commented on #257
I do see this regarding oci-register-machine:

[code]

[2017-07-07 18:42] fortinj66 commented on #257
I reverted to 12.6.16 which completes the build without issue

[2017-07-07 18:44] runcom commented on #257
Ping @rhatdan about register machine

[2017-07-07 18:56] fortinj66 commented on #257
I'm not seeing that particular message on my other servers though...  May be a red herring...

[2017-07-07 20:52] fortinj66 commented on #257
So here are the log entries after a clean install and start of the latest Centos docker image.  Within three seconds the docker process terminates.  This seems to occur right after NetworkManager does some stuff.  Is it possible that NetworkManager is causing dockerd to fail?:

[code]

[2017-07-07 20:53] runcom commented on #257
Very likely actually :/

[2017-07-07 21:10] fortinj66 commented on #257
Well, disabling NetworkManager didn't seem to help:

[code]

[2017-07-07 21:38] runcom commented on #257
Mmm seems likely a container being terminated tearing down the whole Docker daemon?

[2017-07-07 23:13] fortinj66 commented on #257
This is a fresh install with /var/lib/docker removed. So there shouldn't be any containers defined or running.

This does not occur at all with 1.12.16...

Sent from my iPhone

[2017-07-10 12:47] fortinj66 commented on #257
I'm going to open a separate issue for this current issue...

[2017-07-10 13:13] fortinj66 opened #263 "Docker 2:1.12.6-32.git88a4867.el7.centos does not seem stable. Crashes often"
Moving issue from https://github.com/projectatomic/docker/issues/257

---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->

**Output of `docker version`:**

[code]

**Output of

[2017-07-10 13:42] runcom commented on #263
I can actually repro this in fedora 1.13.1 also, seems like something is killing docker daemon whenever a container gets stopped (that's what's happening in that docker build I guess).

[2017-07-10 13:48] fortinj66 commented on #263
Something changed after the 1.12.16 rpm bundles...  I started seeing this issue starting with 1.12.28...

[2017-07-11 09:13] runcom commented on #263
systemd unit file bug caused this, I can fix this in Fedora by adding:
[code]
to the `ExecStart`. Let me know how it goes.

[2017-07-11 09:15] runcom commented on #263
@lsm5 could you please check the above line is in docker.service for Centos (and more importantly for RHEL)?

[2017-07-11 11:56] fortinj66 commented on #263
This is the current ExecStart from docker.service on my system.  It looks like that entry already exists:

[code]

[2017-07-11 12:59] fortinj66 commented on #263
Here is something interesting...  If I disable firewalld on my system docker becomes stable and I can complete my build without issue.  If I restart firewalld it kills dockerd and the builds fail after restarting docker.

[2017-07-11 13:30] runcom commented on #263
I'll check what's going on with firewalld.

[2017-07-11 13:30] runcom commented on #263
do you see any logs?

[2017-07-11 14:08] fortinj66 commented on #263
Here are the commands I ran for this test and the logs:
[code]

[2017-07-11 18:59] fortinj66 commented on #263
My workaround for the time being is to disable firewalld on my servers running Docker including my Openshift Origin servers.  This seems to have "fixed" the Docker instability that i was seeing earlier.

This is only a workaround and not a solution as I would hope that Docker would work out of the box (so to speak) with a standard Centos 7 (or RHEL 7) image with firewalld enabled...

As I can repr

[2017-07-13 01:06] rhvgoyal opened #265 "Backport: dm.libdm_log_level knob for devicemapper"
We need to backport newly introduced knob to enable libdm logging if need be.

https://github.com/moby/moby/pull/33845

[2017-07-13 01:06] rhvgoyal commented on #265
cc @runcom

[2017-07-13 01:08] rhvgoyal opened #266 "Backport: Fixes for supporting deferred removal enabled but deferred deletion disabled"
We need to backport following PR. This enables supporting when deferred removal is enabled but deferred deletion is disabled.

https://github.com/moby/moby/pull/33877

[2017-07-13 01:08] rhvgoyal commented on #266
cc @runcom

[2017-07-13 08:00] runcom commented on #266
Backported @rhvgoyal @rhatdan

[2017-07-13 08:00] #266 closed

[2017-07-13 08:03] runcom commented on #265
Backported @rhvgoyal @rhatdan

[2017-07-13 08:03] #265 closed

[2017-07-13 11:31] rhvgoyal commented on #265
Thanks @runcom

[2017-07-13 11:31] rhvgoyal commented on #266
Thanks @runcom

[2017-07-17 15:11] fortinj66 commented on #257
After testing with the new version of the CentOS RPMs for docker 1.12.32 I do not believe the memory leak issue has been resolved.  dockerd is still growing without bound requiring a restart of the docker service...

For example,
[code]

[2017-07-17 15:12] fortinj66 commented on #257
[code]

[2017-07-17 15:32] fortinj66 commented on #257
[code]

[2017-07-17 16:42] fortinj66 commented on #257
what it looks like after a restart:

[code]

[2017-07-18 11:25] shyr opened #267 "Docker 2:1.12.6-32.git88a4867.el7.centos does not use registry auth for private registry."
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Login to private registry.
[code]
2. Make sure the user have a permission for pushing image. And trying to push an image fails.
[code]

**Describe the results you received:**
Even though the user logged in private

[2017-07-18 12:10] runcom commented on #267
I'll look into this.

[2017-07-26 18:00] TerenceJohnson opened #268 "Volume mounting problem using docker-latest and SELinux"
After switching to docker-latest in Atomic 7.1706 mounting NFS volumes fails with the following SELinux error:

docker volume create --driver local --opt type=nfs --opt o=addr=192.168.0.12,ro --opt device=:/mnt/files/ --name files
docker service update --mount-add type=volume,source=files,target=/mnt/files test

[code]
This was working with docker 1.12.6 but I found that version did not automatica

[2017-07-26 18:08] rhatdan commented on #268
We just committed a fix that should solve this issue.

[2017-07-26 22:50] TerenceJohnson commented on #268
Thank you. Please could you post a link to that commit so that I can figure out how to get this into my test hosts?

[2017-07-27 10:23] rhatdan commented on #268
I believe this version of docker has the fix.
https://brewweb.engineering.redhat.com/brew/buildinfo?buildID=575326
docker-1.12.6-48.git0fdc778.el7
@runcom could you verify?  This is about the runc patch which reverts back the error return code on EINVAL.

[2017-07-27 11:00] runcom commented on #268
@rhatdan nope, that package hasn't the fix for this issue as the docker-runc built in that package doesn't contain the latest commit in https://github.com/projectatomic/runc/commits/docker-1.12.6. We need this commit of docker-runc from projectatomic/runc https://github.com/projectatomic/runc/commit/31a9f6e22729606814e9bcbcf9eeebc1887527cb, @lsm5 could you rebuild docker using that commit for dock

[2017-07-27 12:56] rhatdan commented on #268
We need this fix for 7.4.1

[2017-07-28 14:52] lsm5 commented on #268
@runcom could you include that patch on docker-1.13.1-rhel as well, since the issue seems to be for docker-latest?

[2017-07-28 18:55] runcom commented on #268
@lsm5 done, that patch is in 1.13.1 and 1.13.1-rhel

[2017-08-03 13:47] runcom commented on #267
From your docker version, you're using the docker RPM in centos for the client and the upstream docker 17.05-ce for the server. This combination isn't supported, so closing.
[code]

[2017-08-03 13:47] #267 closed

[2017-08-21 18:06] agunnerson-ibm commented on #257
Is there any additional info we can provide to help solve this problem? I'm seeing the exact same behavior as @fortinj66.
[code]
Looking at `docker info`, the number of goroutines and an idle kubernetes node creep up throughout the day:
[code]

[2017-08-21 19:24] agunnerson-ibm commented on #257
This is the goroutine list:
[code]

[2017-08-21 23:17] runcom commented on #257
Seems like an IO issue, I will look into this.

[2017-08-22 12:14] fortinj66 commented on #257
Thank you :)

[2017-08-22 14:30] agunnerson-ibm commented on #257
@runcom Thanks!

I'm not sure if this is a red herring, but I noticed that the nessus scans we're required to run causes a lot of `docker exec` failures due to the lack of a shell in the container. Any chance that those failures cause some resources to not be cleaned up properly? It looks like stdout is opened, but not always closed.

[code]

Debug log during exec failure:

[code]

[2017-08-22 14:49] runcom commented on #257
It could be very likely an IO leak from your logs, I'm looking into this right now.

[2017-08-22 15:28] fortinj66 commented on #257
I am seeing the same:

[root@os-node-d04 log]# journalctl -u docker | grep -c 'attach: stdout: begin'
147613
[root@os-node-d04 log]# journalctl -u docker | grep -c 'attach: stdout: end'
60692

[2017-08-22 16:07] agunnerson-ibm commented on #257
After further testing, it looks like the streams are closed properly when running:
[code]
but the streams are _not_ closed properly when running:
[code]

[2017-08-22 16:45] fortinj66 commented on #257
are you seeing an uptick in the docker goroutines when you run without the -i (the bad method)?

[2017-08-22 16:49] agunnerson-ibm commented on #257
Ah yep, I didn't catch that before. 4 goroutines are being created with or without `-i`.

[2017-08-22 19:52] agunnerson-ibm commented on #257
@fortinj66 @runcom I found the commit that fixed the leak in upstream docker after doing a git bisect. It looks like this is the fix:

Issue: https://github.com/moby/moby/issues/30311
Commit: https://github.com/moby/moby/commit/3cc0d6bb0475551687d89e7925b09f864c866a71

Could we get that backported to 1.12.6?

[2017-08-22 19:55] runcom commented on #257
Yeah thanks for spotting that, I'll try to backport here and comment here once done.

[2017-08-22 20:14] fortinj66 commented on #257
That is great news!

[2017-08-22 21:11] agunnerson-ibm commented on #257
I just built new RPMs, pushed them out to one of our dev kubernetes clusters, and things are looking good! I will let it run overnight and see how it goes.

[code]

[2017-08-22 22:49] runcom commented on #257
Cherry-picked upstream fix to docker-1.12.6, docker-1.13.1, docker-1.13.1-rhel - will keep this open until anyone can confirm it really fixes this issue :) Thanks a lot guys

/cc @jwhonce

[2017-08-22 22:51] fortinj66 commented on #257
I'll give this a build tomorrow morning and give it a try...

[2017-08-23 11:02] rhatdan commented on #257
Greate work everyone on finding this.

[2017-08-23 12:22] fortinj66 commented on #257
I can happily report that docker memory usage so far looks very good.  Where normally I would see dockerd at 4-5 Gig, it is now steady at just under 200 Meg.  Huge difference!  The goroutines count is under 200 where before it was over 150,000.

I believe that this issue has been resolved !!

I have pushed this to a busier set of servers and will monitor during the day.

@agunnerson-ibm Awesone jo

[2017-08-23 14:16] agunnerson-ibm commented on #257
Thanks!

I can also confirm that it's fixed on our cluster! Only approximately ~50 goroutines on each node in an idle kubernetes cluster after the nessus scans run. It used to go above 200,000.

[2017-08-23 14:20] fortinj66 commented on #257
I'll keep this open until the official Centos7 RPMs are available and test again with those.

--John

[2017-08-24 18:21] fortinj66 commented on #257
After several days of testing with the new code I have not seen any sign of the memory leak rearing its ugly head....

So I guess all  we are going to be waiting for is the new RPMs generated for Centos and RHEL...

@runcom  @lsm5

[2017-08-24 19:24] agunnerson-ibm commented on #257
Agreed. We pushed it out to all of our kubernetes clusters and haven't run into this issue again.

[2017-08-24 20:30] runcom commented on #257
Awesome, let's keep this open until we build rpms

[2017-09-08 20:35] elyscape opened #270 "Backport request: Sort the labels passed from `build --labels`"
moby#29619 describes an issue wherein applying multiple labels to a container at build time through the `--label` flag to `docker build` results in the labels being applied in a nondeterministic order, which sometimes unnecessarily invalidates the build cache.

<details>
<summary>Example</summary>

[code]

</details>

This was fixed by moby#29624, which sorts the labels provided on the CLI before

[2017-09-08 20:58] runcom commented on #270
I'll backport it to the 1.13 branches

[2017-09-09 08:55] runcom commented on #270
Back ported.

[2017-09-09 08:55] #270 closed

[2017-09-09 09:48] elyscape commented on #270
Thank you! Is there a rough plan for when the next version of `docker-latest` will ship?

[2017-09-09 10:17] rhatdan commented on #270
We usually update every 6 weeks.

[2017-10-03 19:02] rhvgoyal opened #275 "Backport fix for overlay redirect_dir=on"
We probably will need to backport following so that docker can deal with kernel having redirect_dir=on for overlayfs.

https://github.com/moby/moby/pull/34342

[2017-10-03 19:02] rhvgoyal commented on #275
cc @runcom @rhatdan

[2017-10-04 01:36] rhatdan commented on #275
How big of a back port is this going to be?  We need to grab this functionality for containers/storage though

[2017-10-04 01:37] rhatdan commented on #275
@nalind WDYT

[2017-10-06 13:09] runcom commented on #275
Backported to 1.12.6, 1.13.1 and 1.13.1-rhel

[2017-10-06 13:21] #275 closed

[2017-10-06 14:19] rhvgoyal commented on #275
thanks @runcom

[2017-11-07 17:01] miabbott opened #285 "docker-1.13.1-35.git8fd0ebb not respecting 'insecure_registries' in /etc/containers/registries.conf"
On the latest [CAHC](https://wiki.centos.org/SpecialInterestGroup/Atomic/Devel) version (`7.2017.839`), it's been observed that configuring `insecure_registries` in `/etc/containers/registries.conf` is not being respected.

[code]

This doesn't appear to be happening on Fedora or RHEL, but specific to CentOS.

The `docker` build is coming from the `virt7-containers-common-candidate` repo.

http://

[2017-11-07 17:02] miabbott commented on #285
FYI @lsm5 @mike-nguyen @ashcrow

[2017-11-07 17:08] runcom commented on #285
@bbaude ptal

[2017-11-07 17:08] runcom commented on #285
@baude rather I guess

[2017-11-07 17:18] mike-nguyen commented on #285
This is also happening on the latest CentOS 7 Atomic Host (qcow here: http://cloud.centos.org/centos/7/atomic/images/CentOS-Atomic-Host-7-GenericCloud.qcow2) which is running an older version of docker.

[code]

[code]

[2017-11-08 15:49] miabbott opened #286 "unable to build 'httpd' container with docker-1.13.1-35.git8fd0ebb.el7.x86_64; error from 'devmapper'"
This was originally seen on [CAHC](https://wiki.centos.org/SpecialInterestGroup/Atomic/Devel) but it can also be reproduced using vanilla CentOS and the `docker` package from the `virt7-candidate-common-candidate` [repo](http://cbs.centos.org/repos/virt7-container-common-candidate/)

When trying to build a simple `httpd` container, an error from devmapper is observed.

[code]

Note this is only ob

[2017-11-08 16:20] runcom commented on #286
@rhvgoyal PTAL

[2017-11-09 15:12] ashcrow commented on #285
**bump**

[2017-11-10 11:30] xThomo commented on #257
@runcom if i've checked the correct branch and commits, this fix is now available in docker-1.12.6-61.git85d7426.el7.centos.x86_64.rpm has anyone used this on 7.3 yet?

[2017-11-13 15:22] ashcrow commented on #285
/cc @jwhonce

[2017-11-13 15:39] baude commented on #285
i'm on it

[2017-11-13 15:48] baude commented on #285
In **/usr/lib/systemd/system/docker.service**, we need to add **EnvironmentFile=/run/containers/registries.conf** so that the registries get added properly.  You can look at the Fedora or RH service file as an example.

[2017-11-14 15:56] miabbott commented on #285
Based on IRC conversations with @lsm5 yesterday, he informed me that the `docker` package in `virt7-containers-common-candidate` is a rebuild of the Fedora Rawhide version from here:

http://pkgs.fedoraproject.org/cgit/rpms/docker.git

Lokesh said he would update the CentOS service file there and initiate a rebuild for CentOS afterwards.

[2017-11-14 19:59] lsm5 commented on #285
this got fixed few mins back.

[2017-11-30 21:32] miabbott commented on #285
This got fixed here - http://pkgs.fedoraproject.org/cgit/rpms/docker.git/commit/docker.service.centos?id=957fa278aa5f152da2a588a1a28f650ba7fe807d

[2017-11-30 21:32] #285 closed

[2017-12-01 22:10] joekohut opened #287 "Releases of Atomic Docker do not keep pace with Docker CE"
Docker stable release is around 17.09. I still see Atomic at 1.12/1.13.
Just curious, what is the driver/constraints here?
Atomic is a great project, but the lag in Docker version is a bit unexpected and unsettling from an end-user perspective.

[2017-12-02 12:37] rhatdan commented on #287
Our version of Docker we have kept locked to the version required by Kubernetes.  We back port any serios fixes to it.  In the past updating versions of Docker has broken Kubernetes.  Are there new features that you are looking for?

[2017-12-04 14:11] joekohut commented on #287
I think Atomic Host is the best platform on which run containers. I also think Atomic Host is the best platform on which to run Docker. We use Compose and want to work up to multi-stage builds. We use Swarm for now and anticipate the announced Docker/Kubernetes melding.

I no longer see Atomic Host as the best platform on which to run Docker *if* Atomic is only destined to support K8s and OC.

I r

[2017-12-05 12:10] rhatdan commented on #287
We are moving to running container runtimes inside of containers rather then running them native on the host.  This would allow atomic host the flexibility of running different versions of docker or other container runtimes like CRI-O.

We have not updated docker-latest since the Moby/Docker split.

Confusion over what Docker wants/does not want distributions to ship.

I think packaging up latest

[2017-12-05 14:29] joekohut commented on #287
I think the container-agnostic view is a good direction.
I think running Docker in a System Container makes sense, as Docker-in-Docker is already a pattern.
However, I have not seen a recipe for that implementation to bake it myself(?) and this does not seem to be something RedHat is going to offer.

As far as running the latest stable Docker, it seems like RHEL, not Atomic, is the only method at-

[2017-12-05 14:32] cgwalters commented on #287
In the [latest rpm-ostree release v2017.11](https://github.com/projectatomic/rpm-ostree/releases/tag/v2017.11), the `override` command is no longer experimental, which means you can also install `docker` via RPM, while still gaining the benefits of a fully transactional hybrid image/package system.

[2017-12-08 18:41] joekohut commented on #287
Thanks, cgwalters.
When would this capability make it into RedHat Atomic Host?

And, Dan, if you would please comment on these previous questions:

1) "We have not updated docker-latest since the Moby/Docker split." - why would RH not keep docker-latest at the latest stable release? That would allow a more current Docker offering until such a time when Docker would be available in a System Contain

[2018-02-22 01:28] RXM307 opened #300 "Backport Changes to Allow using ARG in `FROM`"
Please Backport changes to allow ARG to be used in 'FROM' when building images

https://github.com/moby/moby/pull/31352/files

[2018-04-03 00:48] gogeof commented on #257
Unfortunately, I have suddenly faced this problem when I restart machine -- "gidMappings not found in config", but my problem is just about one container, not the docker engine. Here is my problem describe, I have post an issue, but they think this one is not about docker, it's something about  centos system. I had think so until this issue show up.

# issue on mody project.
**ref:** [restart cont

[2018-04-03 17:11] rhatdan commented on #257
@gogeof this is a random issue and I believe has nothing to do with the current issue.  You should open a different issue.

[2018-04-04 00:24] gogeof commented on #257
@rhatdan yeah, ok I will open a different issue if the problem should again in new docker version.

[2018-04-17 15:25] Raghuveer123 commented on #268
any latest update on this issue?

[2018-04-18 12:17] rhatdan commented on #268
@Raghuveer123 I would guess this is fixed.  Reopen if it is not.

[2018-04-18 12:17] #268 closed

[2018-04-18 13:57] rhatdan commented on #268
I thought the patch that @runcom merged in July 28th.

[2018-05-05 14:16] hedayat commented on #287
Just wanted to note that Docker 17.03.x is also officially supported by Kubernetes 1.9 & 1.10.

Docker in Fedora is not just for Atomic host, so one expects Fedora to provide the latest Docker-ce too. If there is no point in continuing the docker-latest branch, I'd suggest packaging latest docker-ce as docker-latest or maybe as docker-ce.

The current status of docker vs docker-latest in Fedora is

[2018-05-17 12:43] marcelmfs opened #312 "Release: 58.git87f2fab.el7 has BUG https://github.com/moby/moby/issues/25981"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Physical server

**Steps to reproduce the issue:**
Same as https://github.com/moby/moby/issues/25981 (but for version 1.13.1)

**Describe the results you received:**
Same as https://github.com/moby/moby/issues/25981

**Describe the results you expecte

[2018-06-20 19:52] jram-nwed opened #313 "BUG REPORT INFORMATION - Docker CE 1.13.1 issue while changing kernel semaphore changes(kernel.sem)"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
--> docker run --name webserver1 -d -p 9091:80 --sysctl kernel.sem="250 32000 100 2048" nginx

**Description**

**Steps to repr

[2018-06-20 20:03] rhatdan commented on #313
Did you get any AVC messages?

[2018-06-20 20:30] jram-nwed commented on #313
No, SElinux isn't the factor.

error:
/usr/bin/docker-latest: Error response from daemon: oci runtime error: container_linux.go:247: starting container process caused "process_linux.go:364: container init caused "open /proc/sys/kernel/sem: permission denied"".

[2018-06-20 20:37] rhatdan commented on #313
I take it SELinux is disabled?  Could be capabitliies?  Do you know if the kernel/sem is a namespaced sysctl?

[2018-06-20 20:39] rhatdan commented on #313
Does it work if you set

--cap-add ALL
If yes then try
--cap-add SYS_ADMIN

[2018-06-20 20:43] rhatdan commented on #313
BTW Have you tried podman...

Worked successfully with podman on Fedora 28.
[code]

[2018-06-20 22:36] icqworld commented on #313
selinux is enabled.
username is enabled.
Other kernel settings can be changed.

We have only noticed this param kernel.sem not changed.
We tried adding sysctl.conf inside container and that was not able to update the kernel setting.
Seems like bug specific to this kernel setting and docker 1.13.1-rhel

[2018-06-21 06:27] jram-nwed commented on #313
@rhatdan It works fine when I disable user namespaces(--userns=host).

[2018-06-21 12:56] rhatdan commented on #313
Ah a clue.  So usernamespace is blocking it.
I wonder if this is a bug in usernamespace or in runc?
@giuseppe could you try this out with usernamespace enabled.

Quick tests with podman shows that it is failing.

[code]

[2018-06-21 12:56] rhatdan commented on #313
Without usernamespace:
[code]

[2018-06-21 12:58] rhatdan commented on #313
@ebeiderman  Do you think this is a bug in UserNamespace or in Runc?

[2018-06-21 13:39] giuseppe commented on #313
@rhatdan I think that is expected.  Writing to `/proc/sys/*` is done from the container process itself during the setup and AFAIK only root in the init user namespace has write access to `/proc/sys/*` that is not userNS aware.

[2018-06-21 14:32] rhatdan commented on #313
Can we change the writing to the sysctl to not be done by the the root in the init user namespace?  IE Can this be fixed in the OCI RUntimes?

[2018-06-21 15:19] giuseppe commented on #313
I am not sure, it might be possible that the parent process writes to the `/proc/fs` mounted by the container (as a hook would do) but it will be half solution as it won't work with rootless containers.

Tagging @ebiederm

[2018-06-25 13:44] rh-ulrich-o opened #314 "handleConnectionChange() in dockerd kills containerd 'silently' / without notification to user"
The _handleConnectionChange()_ function in dockerd monitors the health of containerd by sending grpc 'HealthCheckRequest' messages periodically. If containerd is unresponsive to such messages during a certain amount of time, dockerd initiates a restart of containerd. The amount of time is determined by two hard-coded constants: containerdHealthCheckTimeout and maxConnectionRetryCount. A simple exp

[2018-07-26 17:24] honeyankit commented on #257
Hi Everyone,

I am facing this issue "dockerd leaks ExecIds on failed exec -i ". Whenever I use wrong command with docker exec -ti <container ID> < wrong command> the ExecIDs leakage happens. I am using docker version 1.12.6 and I am able to reproduce this issue.

Steps to reproduce:
$ docker exec -ti  fdd1b3133760 dsdss
$ docker inspect fdd1b3133760

OS - CoreOS v: 1632.3.0
My docker details:
$ d

[2018-07-26 19:29] rhatdan commented on #257
We are not updating docker-1.12 any longer, does this issue still exist in docker-1.13?

[2018-07-26 19:34] honeyankit commented on #257
I understand that, but the comments above it is stated that this issue was fixed with docker 1.12.6 and all the production DC are having docker version 1.12.6 and it will take time to move it another version because we are using CoreOS and to upgrade the docker we need to upgrade the CoreOS.

[2018-07-30 10:30] rlogiacco commented on #287
Sorry lads, all this doesn't sound clear to me... I have something (Jenkins plugin) requiring docker API 1.31, but the currently installed API version is 1.26: is there a way for me to satisfy such dependency?

[2018-07-30 11:10] hedayat commented on #287
Use upstream docker repository and install the latest one. Fedora, unlike most other packages, provides a very old docker version for no good reason!

[2018-07-30 15:39] rlogiacco commented on #287
Apologies for my noobness, but as there is no `yum` available, how should I pull and install it?

[2018-07-31 20:39] hedayat commented on #287
Just use `dnf` instead of `yum` in the same way.

[2018-08-29 12:06] BouncingBit commented on #312
Happened to me as well. I observed it when a container with bind ports is immediately "crashing" (that is is exited) after startup. It doesn't happen all the time.

[2018-09-02 18:05] franklinyu commented on #287
Docker is still at 1.13 in F29. Both `docker` and `docker-latest`. In comparison, [Docker on Ubuntu](https://packages.ubuntu.com/bionic/docker.io) has version 17.12.

[2018-09-08 18:46] ihulsbus commented on #312
Same issue here. Issue can be resolved by deleting the `local-kv.db` from `/var/lib/docker/network/files/`

Output of `docker version`:
[code]

Output of `docker info`:
[code]

[2018-09-17 03:54] free2k opened #322 "Prevent panic if exec process dies before sync channel is created"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
This problem is not necessarily the case, but two have been found in more than 100 devices. I think it's related to concurrent stop and exec.

**Describe the results you received:**
`Sep 11 19:32:48 gh-hulk-k8s-ep404

[2018-09-17 06:52] runcom commented on #322
Fixed in docker-1.13.1-rhel and docker-1.13.1

[2018-09-17 06:52] #322 closed

[2018-09-17 12:57] zvonkok opened #323 "Writable oci hooks directory for CoreOS"
Is this a BUG REPORT or FEATURE REQUEST?:

[//]: # kind feature

Description

When using docker in CoreOS I want to be able to install runtime hooks (prestart, poststart) into the
filesystem. Currently docker only reads hooks from `/usr/libexec/oci/hooks.d`, which is not writable.

Is it possible to create a new directory that would be writable e.g. `/etc/libexec/oci/hooks.d` and make podman aware

[2018-10-28 00:12] Raghuveer123 opened #331 "Is docker version 1.13.1 will be present on Os 7.5.1 and further future versions?"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2018-11-20 20:22] Raghuveer123 commented on #331
any update on this?are you planning to continue in developing the future versions of docker

[2018-11-20 22:34] rhatdan commented on #331
Kubernernetes is tied to this version of Docker, we are back porting fixes required to run kubernetes and fixes.  What features of Docker do you need that are not in this version of Docker?
Have you tried podman?

[2018-11-30 14:37] Raghuveer123 commented on #331
Nope, I have n't. But I am wondering can I run the docker version 1.13.1 on the redhat OS 7.6.
When I get a chance will try podman

[2018-12-05 21:05] Raghuveer123 commented on #331
Can any one update on this?

[2018-12-19 21:21] bka2004 commented on #287
There's this problem with bad performance when mounting a big named volume on container start, reported here:
https://forums.docker.com/t/large-named-volume-slows-down-container-start/44689
and here:
https://forums.docker.com/t/docker-run-weirdly-slow-with-volumes-containing-many-files/13456

This problem exists with version 1.13.1 and is hitting me atm.
The first report says it's fixed with versi

[2018-12-19 21:47] rhatdan commented on #287
@bka2004 Any chance you could try this with podman to see if it has issues?

[2018-12-22 00:07] bka2004 commented on #287
I gave it a try today (didn't even have to change anything besides the named volume, just used "podman" instead of "docker") and it seemed to work fine.
Container was up in an instant and all files have been accessible.
So now I have to think about moving all my images...

[2018-12-24 13:12] rhatdan commented on #287
Awesome.

[2019-01-10 19:03] #257 closed

[2019-01-10 19:05] #263 closed

[2019-01-10 19:56] fortinj66 opened #336 "Issue with docker cleaning up in /run and causing inodes to be depleted"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

CentOS Linux release 7.3.1611 (Core)
Openshift 3.7.1

**Describe the results you received:**

The issue is that /run increases in inode use until all the inodes are depleted and Openshift and Docker become unstable.  Normally restarting docker will c

[2019-03-07 16:25] jayadeepGit opened #338 "Is rhel docker going to fix docker-runc CVE? on docker-1.13.1-rhel brach?"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**
the CVE https://access.redhat.com/securi

[2019-03-07 20:01] rhatdan commented on #338
Yes I believe it is already fixed in the shipped packages.

[2019-03-08 01:26] jayadeepGit commented on #338
thank you @rhatdan

[2019-03-08 01:26] #338 closed

[2019-03-08 01:34] eseiker commented on #287
now docker 18.06 has been officially validated with kubernetes since 1.12, still no plan to update projectatomic docker? are there any other reason sticking with 13.1?

[2019-03-08 12:30] rhatdan commented on #287
We are moving to CRI-O for mainline support under OpenShift.
Fedora no longer can Ship newer versions of Docker, since Docker project changed their licensing.  Fedora now ships Moby-engine for the upstream project.

We are also shipping Podman as a Docker CLI Replacement.

[2019-03-08 12:30] #287 closed

[2019-03-08 15:32] FranklinYu commented on #287
@rhatdan What’s wrong with the license? Isn’t Docker CLI released in Apache License?

[2019-03-08 16:10] rhatdan commented on #287
We are no longer allowed to ship "Docker"  since that is owned by the company.  Moby is the upstream project.
Docker Inc made it clear they did not want any distro's shipping tools called Docker without a coorporate agreement with them.  So Fedora is not going to ship it.

[2019-03-08 17:17] FranklinYu commented on #287
If I understand correctly, Docker CLI is released in *Apache License*. See https://github.com/docker/docker-ce/blob/master/components/cli/LICENSE

[2019-03-08 17:52] rhatdan commented on #287
The letters Docker versus the code is my understanding. IAMNAL but my understanding is legal felt it was better to not ship anything named Docker.

[2019-03-08 19:21] FranklinYu commented on #287
Then how did other distributions make it? Ubuntu, Arch Linux, openSUSE?

[2019-03-08 21:10] rhatdan commented on #287
Don't know and I am not sure they all are, or the corporate entity entered an agreement with Docker.
Or they are willing to take a chance on not being sued.

[2019-03-09 11:35] hedayat commented on #287
That's great. I didn't know that we have moby-engine in Fedora. And I don't care what it is called.

[2019-03-13 00:38] eseiker commented on #287
Trying moby-engine and seems working good :) I didn't know that fedora is shipping upstream moby-engine package instead of docker. thanks

[2019-03-13 04:33] FranklinYu commented on #287
Sorry for being a jerk. I didn’t know `moby-engine` also carries the `docker` binary (I thought it’s only the daemon). That’s more than enough.

[2019-03-13 12:37] rhatdan commented on #287
@eseiker @FranklinYu We would love to have you play with podman and tell us what you think it is missing as compared to Docker cli.

[2019-03-14 01:00] rlogiacco commented on #287
I'm sorry, but what of the above mentioned tools (moby-engine, podman) applies to Project Atomic and how can I upgrade my system to give those a test before taking more drastic actions?

[2019-03-14 04:20] FranklinYu commented on #287
@rhatdan Is there shell completion (like Bash or Zsh) for Podman? The one for Moby engine works very well.

[2019-03-14 13:26] rhatdan commented on #287
Yes podman has Bash completion and there is a PR for Zsh completion that just opened.

We would love to have you try it out and tell us how it works.
https://github.com/containers/libpod/pull/2637

[2019-03-14 13:27] rhatdan commented on #287
@rlogiacco Atomic Host is going away and being replaced with Fedora CoreOS, which has both podman and Moby-engine on it.

[2019-03-14 21:11] FranklinYu commented on #287
Is that the same thing as [the CoreOS I know](https://coreos.com/)?

[2019-03-14 23:48] dustymabe commented on #287
Not exactly. CoreOS Inc. was acquired by Red Hat last year. CoreOS Container Linux and Red Hat's Project Atomic Atomic Host are getting combined into a new offering known as Fedora CoreOS (upstream) and Red Hat Enterprise Linux CoreOS (downstream). We're in heavy development mode right now but you can find some details at https://coreos.fedoraproject.org/ and follow along with our development at h

[2019-03-20 03:23] keithy commented on #287
So how do you upgrade to moby-engine and still have cockpit working?

[2019-03-20 03:57] FranklinYu commented on #287
@dustymabe How long will Atomic be supported? According to the FAQ page:

I assume it means “6 month after release of Fedora 29” which is the end of this April? Will Fedora CoreOS be ready before that?

[2019-03-20 13:57] dustymabe commented on #287
@FranklinYu, we currently plan to make the first release of Fedora CoreOS  a preview release and declare it stable sometime after that. We will continue to test/release F29 Atomic Host until Fedora 29 EOL (i.e. shortly after Fedora 31 is released)

More details in  https://github.com/coreos/fedora-coreos-tracker/issues/145

[2019-03-20 14:11] keithy commented on #287
Could someone please explain how to get a more recent version of docker into fedora 29. Just add moby-engine doesn't work. The old docker and cockpit get in the way. Some/many people are new to the atomic way, documentation leaves a lot to be desired. If I had known I can't build in docker compose I would have used another is.

[2019-03-20 14:45] dustymabe commented on #287
I assume you mean Fedora 29 Atomic Host?

[code]

Should work, but i'm getting an error when doing that (reported it [here](https://github.com/projectatomic/rpm-ostree/issues/1722#issuecomment-474856784)).

Yes. The Atomic Host project was maturing and closing gaps on documentation at the time that we pivoted to start working on Fedora CoreOS (there was an acquisition of CoreOS Inc. early last yea

[2019-03-20 14:53] keithy commented on #287
And cockpit? Does it reload afterwards?

[2019-03-20 15:11] dustymabe commented on #287
yeah we should be able to just not remove cockpit at all using a command like `rpm-ostree override remove docker --install moby-engine`, but that currently doesn't work because of https://github.com/projectatomic/rpm-ostree/issues/1722 - hopefully we'll get that fixed soon.

[2019-03-20 15:23] dustymabe commented on #287
ok turns out we weren't grabbing everything. Here is the command you can use to get `moby-engine` installed!

[code]

[2019-03-27 01:38] FranklinYu commented on #287
@rhatdan When I run `podman run my-image` is it running the image from Docker Hub? IIUC the image format is different (“Docker Image Formats” v.s. “OCI Image Formats”).

[2019-03-27 11:33] rhatdan commented on #287
Podman supports both formats.

[2019-03-27 15:00] FranklinYu commented on #287
@rhatdan Does Podman plan to support Docker Swarm?

[2019-03-28 23:35] rhatdan commented on #287
Nope.  We are firmly in the Kubernetes camp.

[2019-03-29 01:23] keithy commented on #287
btw @dustymabe wanted to thank you for your invaluable help, much needed.

[2019-03-31 14:22] jcberthon commented on #287
Hi @rhatdan

I am a fairly advanced and experienced Docker user and I am quite interested in using Podman.

Apart from a few glitches (like on Ubuntu, the "official" podman PPA provides a slirp4netns package slightly too old as far as I understood and "root-less" port mapping seems broken), I have already the following feedback:

**The good**
1. Very easy to switch to Podman from Docker
2. User na

[2019-03-31 15:47] rhatdan commented on #287
@jcberthon Thanks for the feedback.

We are working to fix this and appreciate any help.  What would you like to see in additonal documentation other then the Gihub pages, Man Pages, and Blogs at podman.io?

Ok, were did you look for this?  @giuseppe Should be able to help document it.  I would point out that most of the work in Podman was originally in root podman, but our users tend to want to p

[2019-03-31 19:02] jcberthon commented on #287
Wow, thank you for the very quick reply, and sorry to have disturb your Sunday I did not expect to get an answer today.

Some ideas: some more blogs/tutorials would be great with other things than just the basics. So for example, publishing port on a bridge network, or sharing a common private network between 2 containers, using pod with 2-3 containers, etc. There is an example with `httpd`, it co

[2019-03-31 21:14] FranklinYu commented on #287
@jcberthon I think the documentation suggestion deserves a dedicated issue. I would suggest making a feature request at https://github.com/containers/libpod and maybe get a label of “documentation”. That way other maintainers of Podman get notified and may also add some other ideas.

[2019-04-01 13:55] rhatdan commented on #287
Yes I think an issue or series of issues of blogs/docs that you would like to see written, (Or would want to write yourself.)  Surfacing this issues out of this closed one is a good idea.  Also potential for other contributors to step up and help write documentation.
Again @jcberthon Thanks for you help and ideas.

[2019-04-02 20:18] jcberthon commented on #287
I'm happy to have provided some ideas and feedback.

I might step up and provide some improvements to existing or future documentation, but I first need to get up-to-speed with Podman. I'm trying to finish my little side project at the moment and sadly I went back to Docker for the time being. But I will come back to Podman very soon after however on a Fedora OS this time, that might be easier to

[2019-04-03 14:38] rhatdan commented on #287
@jcberthon Great.  Any help you can give to this project would be greatly appreciated.  I would like to hear what Distro you were having problems with Podman on, and see if we can clean this up.

[2019-04-03 21:31] jcberthon commented on #287
I am having an issue with https://github.com/containers/libpod/issues/2778 on Ubuntu 18.04.2 using the PPA (defined here https://github.com/containers/libpod/blob/master/install.md#ubuntu).

As far as I understood, the solution would be to upgrade to slirp4netns 0.3+ and currently the PPA contains an older version. So it is a small obstacle.

[2019-04-03 22:07] rhatdan commented on #287
Ok that is the most common issue people are having on Ubuntu hopefully it is fixed now.

[2019-07-18 03:24] free2k opened #354 "write unix /var/run/docker.sock->@: write: broken pipe"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.Unclear what caused the operation, suddenly there will be "error: write unix /var/run/docker.sock->@: write: broken pipe"

**Describe the results you received:**
Failed to start container

**Describe the results yo

[2019-07-18 10:02] rhatdan commented on #354
Have you played with `podman`?  The team supporting containers in RHEL is moving away from Docker to other container tools.  Podman, Buildah for RHEL7 container workload, and CRI-O for Kubernetes/OpenShift

[2019-07-18 11:52] free2k commented on #354
Did docker not update the code after that?

[2019-07-18 12:00] rhatdan commented on #354
We are locked into an older version of Docker for kubernetes/openshift support.

[2019-12-01 13:30] free2k commented on #354
@rhatdan We found that many bugs fixed on moby were not fixed on projectatomic / docker. Are you planning to no longer maintain and update the docker-1.13.1-rhel branch?

[2019-12-01 13:54] free2k commented on #354
@rhatdan If we replace docker with podman, does Kubernetes need to change?

[2019-12-02 05:09] rhatdan commented on #354
Yes we have moved on from Docker to Podman in Fedora as well as RHEL/Centos.
Kubernetes should be using CRI-O instead of Docker.  Podman is a command line tool, not a CRI for use with the kublet.

[2020-02-03 15:18] anshupitlia opened #366 "docker-1.13.1-102.git7f2769b.el7.centos.x86_64 not taking logged in credentials while doing a --with-registry-auth in docker stack deploy to pull private images"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

on a docker login, ```cat ~/.docker/config.json```

[code]

**Steps to reproduce the issue:**
1. Create a docker image and push it to private docker registry. Create docker compose file that refers this image.
2. Do a ```docker swarm init```
3. Deplo

[2020-02-04 00:11] rhatdan commented on #366
We do not plan on any more updates to this version of Docker except to fix RHEL7 issues and CVEs on Fedora 30.
We are moving on to use Podman, Buildah, Skopeo, CRI-O as Docker replacements. If you find issues like this in Podman, or wish to have support for this in podman then open an issue in github.com/containers/libpod.

[2020-09-28 18:28] nurgasemetey commented on #336
Can confirm that it happened in our setup

- `Ubuntu Server 16.04`
- `Docker version 18.06-3-ce`

[2021-01-12 12:54] free2k opened #378 "support update device-read-bps and device-write-bps"
![image](https://user-images.githubusercontent.com/14852402/104316813-fe0ff700-5517-11eb-8729-8ea7b89c7411.png)
   Why does docker update not support the update of these parameters？《--device-read-bps      --device-read-iops   --device-write-bps    --device-write-iops》

[2021-01-12 18:37] rhatdan commented on #378
This is pretty much a archived project at this point.  Questions should go to the upstream moby project or better yet start using podman and see if it works the way you want.

[2021-01-12 18:37] #378 closed

[2021-02-02 03:18] wxx213 opened #379 "Can we backport the lock optimization patch in image store?"
The patch from docker：https://github.com/moby/moby/commit/44e67adae5695e3e2c3b450453ab0fe6119eb80d

Sometimes the sync.Mutex is too heavy and may make the docker daemon response so slowly and not available even more.

Could you help to check and backport this patch? thanks

[2021-10-08 12:24] #379 closed